@import "/src/variables";

.headling {
  background: $mainColor;
  color: $secColor;
  font-weight: $bold;
  font-size: $headling;

  span {
    color: $thirdColor;
  }
}

.wrapper {
  background: $mainColor;
  margin-bottom: $bigGap;
}
