@import "/src/variables";

.container {
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  .wrapper {
    position: fixed;
    width: 33.3333%;
    height: 100%;
    right: 0;
    background-color: $mainColor;
    visibility: visible;
    -webkit-box-shadow: -20px 0px 40px 10px rgba(0, 0, 0, 0.5);
    box-shadow: -20px 0px 40px 10px rgba(0, 0, 0, 0.5);
    overflow: auto;
    animation-name: show;
    animation-duration: 500ms;

    @keyframes show {
      0% {
        right: -500px;
      }
      100% {
        right: 0;
      }
    }

    .empty {
      p {
        text-align: center;
        line-height: 80vh;

        span {
          color: $thirdColor;
        }
      }
    }

    header {
      margin-top: 20px;
      color: $secColor;
      font-weight: $bold;
      font-size: $smallHeading;
      text-align: left;

      .headling {
        margin: $smallGap;
        margin-bottom: 0;

        span {
          color: $thirdColor;
        }
      }
    }
  }
}

@media (max-width: 1090px) {
  .container {
    .wrapper {
      width: 50%;
    }
  }
}

@media (max-width: 780px) {
  .container {
    .wrapper {
      width: 100%;
    }
  }
}
