$mainColor: #121214;
$secColor: #ffffff;
$thirdColor: #e55125;

.mainWrapper{
  .cartItem {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: $thirdColor solid 1px;
  
    &:hover {
      background: #545457;
    }
  
    .ggClose {
      color: $thirdColor;
      box-sizing: border-box;
      position: relative;
      display: block;
      transform: scale(var(--ggs, 1));
      width: 22px;
      height: 22px;
      border: 2px solid transparent;
      border-radius: 40px;
      transition: 0.3s ease-in-out;
  
      &:hover {
        color: $secColor;
        cursor: pointer;
      }
    }
  
    .ggClose::after,
    .ggClose::before {
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
      width: 16px;
      height: 2px;
      background: currentColor;
      transform: rotate(45deg);
      border-radius: 5px;
      top: 8px;
      left: 1px;
    }
    .ggClose::after {
      transform: rotate(-45deg);
    }
  }
  
  .itemInfo {
    text-align: left;
  }
  
  .price {
    display: flex;
    justify-content: space-evenly;
    background: $secColor;
  
    p {
      color: $mainColor !important;
      font-size: 1.2rem;
      font-weight: 900;
    }
  }
}
