@import "/src/variables";

.login {
  background: $greenColor !important;
  color: $secColor;
  transition: 0.3s ease-in-out;
  border: none !important;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(86, 188, 76, 0.54);
  box-shadow: 0px 0px 15px 0px rgba(86, 188, 76, 0.54);

  &:hover {
    color: $secColor;
    background: $hoverGreen !important;
  }
}

.sign {
  transition: 0.3s ease-in-out;

  &:hover {
    color: $mainColor;
    background: $secColor;
  }
}
