@import "src/variables";

.block {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: $smallGap;
  margin-block: $smallGap;

  .card {
    display: flex;
    flex-direction: column;
    width: clamp(20rem, calc(20rem + 2vw), 22rem);
    overflow: hidden;
    background: $lighterGray;
    border-radius: 30px;

    img {
      height: 250px;
      width: 100%;
      object-fit: cover;
    }

    .cardBody {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      p {
        text-align: justify;
        color: $smallTextGray;
      }

      .headling {
        color: $secColor;
        font-weight: $bold;
        font-size: $smallHeading;
      }
    }

    .cardFooter {
      padding: 0 1rem 1rem 1rem;
      margin-top: auto;

      .cart {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .ammount {
        display: flex;
        align-items: center;

        p {
          margin: 0px 10px;
          font-weight: 800;
        }

        a {
          background: $thirdColor;
          color: $secColor;
          padding: 2px 6px;
          border-radius: 100%;
          border: $thirdColor solid 1px;
          transition: 0.3s ease-in-out;

          &:hover {
            background: $thirdColor;
            color: $secColor;
            cursor: pointer;
          }
        }
        .gray {
          padding: 3px 8px;
          background: #3d3d3d;
          border: #3d3d3d solid 1px;
          border: none;
        }
      }

      .cartUnactive {
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }

      button {
        display: flex;
        margin-top: auto;
        padding: 8px;
        background: $greenColor;
        cursor: pointer;
        border-radius: 30px;
        transition: 0.3s ease-in-out;
        -webkit-box-shadow: 0px 0px 15px 0px rgba(86, 188, 76, 0.54);
        box-shadow: 0px 0px 15px 0px rgba(86, 188, 76, 0.54);

        p {
          color: $secColor !important;
          margin-bottom: 0px;
          padding: 4px 8px;
        }

        :nth-child(2) {
          border-left: #4ca642 solid 2px;
          font-weight: 600;
        }

        &:hover {
          background-color: $hoverGreen;
        }
      }
    }
  }
}
