@import "/src/variables";

.wrapper {
  z-index: 9;
  width: 100%;
  position: fixed;
  background: $mainColor;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    margin-left: 100px;
    color: $secColor;
    font-weight: $bold;
    font-size: 1.5rem;

    p {
      margin: 0px;
    }

    .descriptor {
      font-size: 0.75rem;
      font-weight: 200;
    }
  }

  .objects {
    display: flex;
    padding: 20px;
    margin-right: 100px;
    align-items: center;
  }

  button {
    margin: 0px 10px;
    padding: 10px;
    border-radius: 10px;
    background: none;
    border: $secColor solid 1px;
    color: $secColor;

    &:hover {
      cursor: pointer;
    }
  }

  .quantatyWrapper {
    display: flex;

    .quantaty {
      color: $secColor;
      margin: 0 0 0 5px;
      font-size: 0.8rem;
      font-weight: bold;
    }

    .cartWrapper {
      border: $secColor solid 1px;
      padding: 10px;
      border-radius: 50%;
      transition: 0.3s ease-in-out;
      margin-left: 50px;

      a {
        color: $secColor;
      }

      &:hover {
        border: $thirdColor solid 1px;
        background: $thirdColor;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 700px) {
  .wrapper {
    .logo {
      margin-left: 20px;
    }

    .objects {
      margin-right: 20px;
    }

    .quantatyWrapper {
      .cartWrapper {
        margin-left: 10px;
      }
    }
  }
}

@media (max-width: 430px) {
  .wrapper {
    .logo {
      font-size: 1rem;
      margin-left: 10px;

      .descriptor {
        font-size: 0.5rem;
      }
    }

    .objects {
      margin-right: 10px;

      button{
        font-size: .6rem;
      }
    }

    .quantatyWrapper {
      .cartWrapper {
        margin-left: 10px;
        padding: 6px;
      }
    }
  }
}
