@import "/src/variables";

.wrapper {
  background: $mainColor;
  padding-top: 83px;
  margin-bottom: $medGap;

  img {
    width: 100%;
  }

  li {
    margin: 0 5px;
  }

  .carousel {
    position: relative;
  }

  .toMenu {
    position: absolute;
    left: 50%;
    margin-top: -50px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index: 8;
    background: $thirdColor;
    padding: 10px 20px;
    border-radius: 10px;
    color: $secColor;
    transition: 0.3s ease-in-out;
    border: none;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(229, 81, 37, 0.54);
    box-shadow: 0px 0px 15px 0px rgba(229, 81, 37, 0.54);

    &:hover {
      color: $secColor;
      background: $orangeHover;
    }
  }
}

@media (max-width: 500px) {
  .wrapper {
    img {
      object-fit: cover;
      height: 50vh;
    }

    .toMenu {
      margin-top: -50px;
    }
  }
}
