@import "/src/variables";

.back {
  background: $thirdColor;
  margin-left: $smallGap;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  color: $secColor;
  font-size: initial;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(229, 81, 37, 0.54);
  box-shadow: 0px 0px 15px 0px rgba(229, 81, 37, 0.54);

  &:hover .ggClose {
    color: $secColor;
  }

  &:hover {
    background: $orangeHover;
    cursor: pointer;
    color: $secColor;
  }

  i {
    margin-right: 10px;
  }

  .ggClose {
    color: $secColor;
    box-sizing: border-box;
    transform: scale(var(--ggs, 1));
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
    transition: 0.3s ease-in-out;
  }

  .ggClose::after,
  .ggClose::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 2px;
    background: currentColor;
    transform: rotate(45deg);
    top: 8px;
    left: 1px;
  }
  .ggClose::after {
    transform: rotate(-45deg);
  }
}
