$mainColor: #121214;
$secColor: #ffffff;
$thirdColor: #e55125;

.headling {
  margin: 0px;
  padding: 32px 32px 0px 32px;
  background: $mainColor;
  color: $secColor;
  font-weight: 900;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.wrapper {
  background: $mainColor;
}
