//colors
$mainColor: #121214;
$secColor: #ffffff;
$thirdColor: #e55125;
$orangeHover: #e9633b;
$lighterGray: #1f1f1f;
$smallTextGray: #acacac;
$greenColor: #56bc4c;
$hoverGreen: #60e253;

//gaps
$smallGap: 2rem;
$medGap: 4rem;
$bigGap: 8rem;

//text
$headling: 3rem;
$smallHeading: 1.2rem;
$bold: 800;

//media
$small: 480px;
$medium: 720px;
