@import "/src/variables";

.wrapper {
  .devider {
    display: flex;
    justify-content: center;
    margin: $smallGap;
    margin-top: 0;

    .forkKnife {
      padding: 0.5rem;
      background-color: $greenColor;
      border-radius: 10px;
      width: 30px;
      -webkit-box-shadow: 0px 0px 15px 0px rgba(86, 188, 76, 0.54);
      box-shadow: 0px 0px 15px 0px rgba(86, 188, 76, 0.54);
    }

    .hl {
      margin: auto;
      width: 100%;
      border-top: 3px solid $greenColor;
      -webkit-box-shadow: 0px 0px 15px 0px rgba(86, 188, 76, 0.54);
      box-shadow: 0px 0px 15px 0px rgba(86, 188, 76, 0.54);
    }
  }

  .header {
    margin: $smallGap;
    margin-top: 0;
    text-align: left;
    font-weight: $bold;
    font-size: $smallHeading;

    span {
      color: $thirdColor;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      margin-left: $smallGap;
      margin-bottom: 0.5rem;
      align-self: flex-start;
    }

    input,
    textarea {
      background: $lighterGray;
      border: none;
      margin-bottom: $smallGap;
      padding: 10px;
      width: 80%;
      align-items: center;
      border-radius: 10px;
      outline: none;
      resize: vertical;

      &::placeholder {
        color: #c9c9c9;
      }
    }
  }

  .button {
    width: fit-content;
    padding: 10px 20px;
    font-size: 1rem;
    background: $greenColor;
    color: $secColor;
    border: none;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(86, 188, 76, 0.54);
    box-shadow: 0px 0px 15px 0px rgba(86, 188, 76, 0.54);

    &:hover {
      color: $secColor;
      background: $hoverGreen;
      cursor: pointer;
    }
  }
}
